# Ignore log files
*.log

# Ignore binaries
*.class

# Ignore eclipse configs
.metadata
.recommenders

# Ignore everything in binary folder
video_poker/bin/*

# Ignore documentation folders until release
#video_poker/doc/*

# Ignore all package files in `bin` dir
video_poker/bin/*.jar
video_poker/bin/*.war
video_poker/bin/*.ear
video_poker/bin/*.zip
video_poker/bin/*.tar.gz
video_poker/bin/*.rar
